CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
*.o
*.wad
autom4te.cache
config.log
config.status
config.h
config.hin
src/doom/libdoom.a
doom-wad-shareware_1.9.fixed.orig.tar
config.hin
config.hin~
autotools/ar-lib
autotools/compile
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
src/setup/libsetup.a
