

autom4te.cache
autotools/ar-lib
autotools/compile
autotools/config.guess
autotools/config.sub
autotools/depcomp
autotools/install-sh
autotools/missing
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeLists.txt.user
CMakeScripts
compile_commands.json
config.h
config.hin
config.hin
config.hin~
config.log
config.status
CTestTestfile.cmake
_deps
doom-wad*
doom-wad-shareware_1.9.fixed.orig.tar
install_manifest.txt
Makefile
midiproc/#
midiproc/am--include-marker
*.o
opl/#
opl/am--include-marker
opl/examples/#
opl/examples/am--include-marker
pcsound/#
pcsound/am--include-marker
src/#
src/am--include-marker
src/doom/#
src/doom/am--include-marker
src/doom/libdoom.a
src/setup/#
src/setup/am--include-marker
src/setup/libsetup.a
Testing
textscreen/#
textscreen/am--include-marker
textscreen/examples/#
textscreen/examples/am--include-marker
*.wad
